.Rproj.user
.Rhistory
.RData
.Ruserdata
Bioseñales con descripciones caoticos/BlueMuse-master/
Bioseñales con descripciones caoticos/BlueMuse-master.zip
Bioseñales con descripciones caoticos/EEG-signal-analysis-with-chaotic-descriptors/
Bioseñales con descripciones caoticos/EEG-signal-analysis-with-chaotic-descriptors.zip
Corriendo IA basada en Matlab en Raspberry-Pi/Intro_IA/matlab.mat